@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My Site</h1>
    <p>
        Links to my portfolios <a href="https://mariesauve.azurewebsites.net/" target="_blank">Azure Portfolio</a>
        <br />
        <a href="https://triosdevelopers.com/~M.Sauve/" target="_blank">triOS Developers Portfolio</a>
    </p>
</div>
